<script>

</script>

<div id="modalLogin" class="login hide">
  <div class="content">
    <div class="header">
      <h1>Faça seu login</h1>
      <a href="#">Fechar</a>  
    </div>
    <form action="profile" method="POST"> 
    <div class="field-group">
      <div class="field">
          <input type="email" name="email" required="required" placeholder="E-mail">
      </div>
      <div class="field">
          <input type="password" name="senha" required="required" placeholder="Senha">
      </div>
      <button type="submit">Entrar</button>
      <label></label>
    </div>
    
    </form>
    
  </div>
</div>  

